/*TEMPLATE*/
div.sto-__PLACEHOLDER__-vignette {
    height: 348px;
    cursor: pointer;
    min-width: 182px;
    width: 182px;
    float: left;
    position: relative;
    text-align: center;
    margin: 0 7px 15px 7px!important;
    border-radius: 15px;
    -webkit-transition-duration: .3s;
    -webkit-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-property: box-shadow;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__;
    background-image: __BGIMGFORMAT__;
    background-repeat: no-repeat;
    background-position: top center;
}
div.sto-__PLACEHOLDER__-vignette:hover {
    box-shadow: 0 0 6px 1px #666;
}
div.sto-__PLACEHOLDER__-cta {
    width: 100%;
    display: inline-block;
    color: __MENTION_COLOR__;
    margin-bottom: 6px;
    vertical-align: bottom;
    text-align: center;
    font-weight: 100;
    z-index: 2;
    font-size: 11px;
    padding: 0 4px;
    box-sizing: border-box;
    max-height: 50px;
}
div.sto-__PLACEHOLDER__-button {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 29px;
    background-image: __CTA_IMG__;
    background-position: center;
    background-repeat: no-repeat;
}
div.sto-__PLACEHOLDER__-button:hover {
    background-image: __CTA_IMG_HOVER__;
}
span.valign{
    display:inline-block;
    height:100%;
    width:0;
}

/*FORMAT*/

/*RESPONSIVE*/

/*RETAILER*/

/* CONDITIONS - VARIATES */
