/*TEMPLATE*/
.sto-__PLACEHOLDER__-vignette {
    cursor: pointer;
    position: relative!important;
    text-align: center;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__!important;
    background-image: __BGIMGFORMAT__!important;
    background-repeat: no-repeat!important;
    background-position: top center!important;
}
.sto-__PLACEHOLDER__-cta {
    display: inline-block;
    color: #fff;
    vertical-align: bottom;
    text-align: center;
    box-sizing: border-box;
    max-height: 50px;
    background-color: #de0b1e;
    position: absolute;
    left: 0;
    font-size: 15px;
    text-decoration: none;
    line-height: normal;
    padding: 0 12px;
    font-weight: bold;
    bottom: 33px;
    height: 2.5rem!important;
    width: calc(100% - 3.75rem)!important;
    border-radius: 25px;
    z-index: 1!important;
    background-image: __CTA_IMG__;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sto-__PLACEHOLDER__-cta:hover {
    background-image: __CTA_IMG_HOVER__;
    background-color: #e13f43;
}
.sto-__PLACEHOLDER__-cta span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    line-height: 1rem;
    display: inline-block;
  }
span.valign{
    display:inline-block;
    height:100%;
    width:0;
}

/*FORMAT*/

/*RESPONSIVE*/
/*@media screen and (max-width:500px){
    .sto-__PLACEHOLDER__-vignette {
        background-size: 130%;
    }
}*/

@media screen and (max-width:47.99rem){
    .sto-__PLACEHOLDER__-cta{
        bottom: 3px!important;
        width: calc(100% - 1.875rem) !important;
        margin-left: 0.9375rem!important;
        height: 2.5rem !important;
        margin-bottom: 6px;
        left: 0;
        transform: none;
    }
    .sto-__PLACEHOLDER__-vignette {
        background-size: 120% !important;
    }
}
