/*TEMPLATE*/
div.sto-__PLACEHOLDER__-vignette {
    cursor: pointer;
    /* width: 198px; */
    /* height: 298px; */
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__;
    background-image: __BGIMGFORMAT__;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    float: left;
    box-sizing: border-box;
    border: 1px solid grey;
    min-height: 260px;
    width: calc(25% - 10px);
}

.productGrid .fila4 div.sto-__PLACEHOLDER__-vignette.tablette {
    width: 23.7% !important;
    margin-right: 1.3% !important;
}

div.sto-__PLACEHOLDER__-vignette[pos="mid"] {
  position: absolute;
  z-index: 2;
  top: 342px;
  left: 0;
}
div.sto-__PLACEHOLDER__-vignette[pos="bot"] {
  position: absolute;
  z-index: 2;
  top: 641px;
  left: 0;
}

div.sto-__PLACEHOLDER__-legal {
    width: auto;
    display: block;
    color: __MENTION_COLOR__;
    text-align: center;
    font-weight: 100;
    z-index: 2;
    font-family: "Roboto", arial, sans-serif;
    font-size: 11px;
    padding: 5px 10px;
    box-sizing: border-box;
    max-height: 50px;
    position: absolute;
    height: 30px;
    width: 75%;
    max-width: 180px;
    min-width: 130px;
    line-height: 1;
    bottom: 20px;
    white-space: nowrap;
    transform: translateX(-50%);
    left: 50%;
    text-decoration: none !important;
    background-color: __BGCOULEURMENTION__;
    border-radius: 50px;
    background-image: __CTA_IMG__;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.sto-__PLACEHOLDER__-legal:hover {
    background-image: __CTA_IMG_HOVER__;
    background-color: #e13f43;
}

div.sto-__PLACEHOLDER__-legal[type="link"] {
    text-decoration: underline;
}



@media screen and (max-width:719px) {

  .productGrid .fila4 .sto-__PLACEHOLDER__-vignette.span-5 {
    margin-right: calc(2% - 1px);
    width: calc(47% + 1px) !important;

    align-items: baseline;
  }
}
