/*TEMPLATE*/
div.sto-__PLACEHOLDER__-vignette {
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 10px 7px 10px 4px;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__;
    background-image: __BGIMGFORMAT__;
    background-repeat: no-repeat;
    background-position: top center;
    border: solid 1px #d0d0d0;
    height: 424px;
    float: left;
}

/*div.sto-__PLACEHOLDER__-vignette.v2{
    height: 300px!important;
    background-image: __BGIMGFORMAT2__ !important;
}*/

div.sto-__PLACEHOLDER__-cta {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 29px;
    background-image: __CTA_IMG__;
    background-position: center;
    background-repeat: no-repeat;
}

div.sto-__PLACEHOLDER__-cta:hover {
    background-image: __CTA_IMG_HOVER__;
}

div.sto-__PLACEHOLDER__-legal {
    width: 100%;
    display: inline-block;
    color: __MENTION_COLOR__;
    margin-bottom: 6px;
    vertical-align: bottom;
    text-align: center;
    font-weight: 100;
    z-index: 2;
    font-family: "Roboto", arial, sans-serif;
    font-size: 11px;
    padding: 0 4px;
    box-sizing: border-box;
    max-height: 50px;
    min-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
div.sto-__PLACEHOLDER__-legal span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.sto-__PLACEHOLDER__-legal[type="link"] span {
    text-decoration: underline;
}
