.sto-__PLACEHOLDER__-container {
  width: 470px;
  height: 188px !important;
  position: absolute;
  cursor: pointer;
}

.sto-__PLACEHOLDER__-vignette  {
  background-image: __BGIMGFORMAT__;
}

.sto-__PLACEHOLDER__-secondVignette  {
  margin-top: 10px;
  background-image: __BGIMGFORMAT_SECOND__;
}

.sto-__PLACEHOLDER__-vignette, .sto-__PLACEHOLDER__-secondVignette {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

/*//////////////////////////////////////////////*/

@media only screen and (max-width: 991px) {
  .sto-__PLACEHOLDER__-container {
    width: 50%;
    margin-top: 10px;
    position: static;
  }
  .sto-__PLACEHOLDER__-secondVignette  {
    float: right;
    margin-top: -187px;
    margin-right: -100%;
  }
}

@media only screen and (max-width: 820px) {
  .sto-__PLACEHOLDER__-container {
    height: 162px !important;
  }
  .sto-__PLACEHOLDER__-secondVignette  {
    margin-top: -162px;
  }
}

/*//////////////////////////////////////////////*/

@media only screen and (max-width: 771px) {
  .sto-__PLACEHOLDER__-container {
    position: static;
    width: 100%;
    height: 154px!important;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .sto-__PLACEHOLDER__-vignette  {
    background-image: __BGIMGFORMAT_MOBILE__;
  }

  .sto-__PLACEHOLDER__-secondVignette  {
    float: left;
    margin-top: 5px;
    background-image: __BGIMGFORMAT_MOBILE_SECOND__;
  }

  .sto-__PLACEHOLDER__-vignette, .sto-__PLACEHOLDER__-secondVignette {
    background-size: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .sto-__PLACEHOLDER__-container {
    height: 140px!important;
  }
  .sto-__PLACEHOLDER__-vignette, .sto-__PLACEHOLDER__-secondVignette {
    background-size: 100%;
  }
}

@media only screen and (max-width: 510px) {
  .sto-__PLACEHOLDER__-container {
    height: 140px !important;
  }
  .sto-__PLACEHOLDER__-vignette, .sto-__PLACEHOLDER__-secondVignette {
    background-size: 100%;
  }
}