/*TEMPLATE*/
div.sto-__PLACEHOLDER__-vignette {
    cursor: pointer;
    width: 198px;
    height: 298px;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__;
    background-image: __BGIMGFORMAT__;
    background-repeat: no-repeat;
    background-position: top center;
    float: left;
    border: 1px solid #d2d2d2;
    border-width: 1px 1px 0px 0;
    margin: -1px 0 0 0;
}

div.sto-__PLACEHOLDER__-vignette[pos="mid"] {
  position: absolute;
  z-index: 2;
  top: 342px;
  left: 0;
}
div.sto-__PLACEHOLDER__-vignette[pos="bot"] {
  position: absolute;
  z-index: 2;
  top: 641px;
  left: 0;
}

div.sto-__PLACEHOLDER__-legal {
    width: 100%;
    display: inline-block;
    color: __MENTION_COLOR__;
    text-align: center;
    font-weight: 100;
    z-index: 2;
    font-family: "Roboto", arial, sans-serif;
    font-size: 11px;
    padding: 0 4px;
    box-sizing: border-box;
    max-height: 50px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    bottom: 0;
    left: 0;
}

div.sto-__PLACEHOLDER__-legal[type="link"] {
    text-decoration: underline;
}
