/*TEMPLATE*/

/*.sto-__PLACEHOLDER__-selection {
  
 
  height: 100%;
  padding: 0 10px 15px 10px;
  margin: 0;
  padding: 0;
}*/
.sto-__PLACEHOLDER__-vignette {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: __BGCOULEURFORMAT__;
  background-image: __BGIMGFORMAT__;
  border: solid 1px #d0d0d0;
  padding:0!important;
}
.sto-__PLACEHOLDER__-vignette[redir]{
  cursor: pointer;
}

.sto-__PLACEHOLDER__-vignette[mobile] {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-image: __BGIMGFORMAT_MOBILE__;
}

div.sto-__PLACEHOLDER__-redir_m{
  display: none;
  cursor: pointer;
}

.sto-__PLACEHOLDER__-vignette div.sto-__PLACEHOLDER__-redir_m{
  display: none;
  height:100%;
  width:33%;
}

.sto-__PLACEHOLDER__-cta {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 29px;
  left: 0;
  background-image: __CTA_IMG__;
  background-position: center;
  background-repeat: no-repeat;
}

.sto-__PLACEHOLDER__-cta:hover {
  background-image: __CTA_IMG_HOVER__;
}


.sto-__PLACEHOLDER__-vignette .sto-__PLACEHOLDER__-legal {
  width: 100%;
  display: inline-block;
  color: __MENTION_COLOR__;
  margin-bottom: 6px;
  vertical-align: bottom;
  text-align: center;
  font-weight: 100;
  z-index: 2;
  font-family: "Roboto", arial, sans-serif;
  font-size: 11px;
  padding: 0 4px;
  box-sizing: border-box;
  max-height: 50px;
  position: absolute;
  bottom:0;
}
.sto-__PLACEHOLDER__-vignette  div.sto-__PLACEHOLDER__-legal[type="link"] {
  text-decoration: underline;
  cursor: pointer;
}

span.valign{
  display:inline-block;
  height:100%;
  width:0;
}

.sto-__PLACEHOLDER__-valign {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: bottom;
}




/*FORMAT*/




/*RESPONSIVE*/

/*RETAILER*/


/*.sto-__PLACEHOLDER__-vignette {
  width: calc(100% / 2 - 4px);
  position: relative;
  display: block;
  float: left;
}

.sto-__PLACEHOLDER__-selection {
  width: calc(50% + 1px);
  background-color: __BTFCOLOR__;
}*/


/* CONDITIONS - VARIATES */

/*SEARCH PAGE*/

/*.sto-__PLACEHOLDER__-vignette[data-page="search"] {
  /*width: 375px;*/
  /*margin: 1px 0 0 8px;
}*/

@media screen and (max-width:1002px) {
  .sto-__PLACEHOLDER__-vignette {
    width: calc(((100% / 3) * 2) - 4px);
  }
}

@media screen and (max-width:768px) {
  .sto-__PLACEHOLDER__-vignette {
    width: calc(100% - 3px);
  }
}

/************        MOBILE        *************/

@media screen and (max-width:550px) {
  .sto-__PLACEHOLDER__-vignette {
    width: calc(100% + 40px);
    margin: 20px -20px 20px -20px;
  }
  .sto-__PLACEHOLDER__-selection {
    float: none;
    width: 100%;
    height: 115px;
    background-size: cover;
    background-image: __BTF_CONTAINE_IMG_MOB__ !important;
  }


  .sto-__PLACEHOLDER__-content {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
  }
  
}
