.sto-__PLACEHOLDER__-container {
  width: 446px;
  height: 362px !important;
  padding: 0.2em;
  background-color: #fff;
  border: 1px solid #e0e1e1;
  float: left;
  margin-bottom: 15px;
  margin-left: 10px;
}

.sto-__PLACEHOLDER__-banner {
  width: 100%;
  height: 100%;
  background-image: __BGIMGFORMAT__;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

/* -------------------------------------------------------
        Styles responsive pour le rayon rayon 
  ------------------------------------------------------- */

.sto-__PLACEHOLDER__-container[data-page="rayon"] {
  width: 435px;
  margin-right: 10px;
}

@media only screen and (max-width: 1272px) {
  .sto-__PLACEHOLDER__-container[data-page="rayon"] {
    width: 467px;
  }
}

@media only screen and (max-width: 1023px) {
  .sto-__PLACEHOLDER__-container[data-page="rayon"] {
    width: 455px;
  }
}
    
@media only screen and (max-width: 784px) {
  .sto-__PLACEHOLDER__-container[data-page="rayon"] {
    width: 2.9% !important;
  }
  .sto-__PLACEHOLDER__-banner {
    background-size: 100%;
  }
}

@media only screen and (max-width: 496px) {
  .sto-__PLACEHOLDER__-container[data-page="rayon"] {
    width: 2.98% !important;
  }
  .sto-__PLACEHOLDER__-banner {
    background-size: 80%;
  }
}


/* -------------------------------------------------------
        Styles responsive pour la page promo 
  ------------------------------------------------------- */

@media only screen and (max-width: 1274px) {
  .sto-__PLACEHOLDER__-container[data-page="promo"] {
    width : 353px;
    height : 340px !important;
  }
}
@media only screen and (max-width: 1020px) {
  .sto-__PLACEHOLDER__-container[data-page="promo"] {
    width : 472px;
    height : 362px !important;
  }
}
@media only screen and (max-width: 767px) {
  .sto-__PLACEHOLDER__-container[data-page="promo"] {
    width: 96%;
    margin-left: 14px;
  }
  .sto-__PLACEHOLDER__-container[data-page="promo"] .sto-__PLACEHOLDER__-banner {
    background-size: 60%;
  }
}
@media only screen and (max-width: 477px) {
  .sto-__PLACEHOLDER__-container[data-page="promo"] {
    width: 94%;
    margin-left: 14px;
  }
  .sto-__PLACEHOLDER__-container[data-page="promo"] .sto-__PLACEHOLDER__-banner {
    background-size: 90%;
  }
}
