/*TEMPLATE*/
div.sto-__PLACEHOLDER__-vignette {
    display: inline-block;
    cursor: pointer;
    /*min-width: 182px;*/
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__!important;
    background-image: __BGIMGFORMAT__!important;
    background-repeat: no-repeat;
    background-position: top center;
    border: solid 1px #d0d0d0!important;
    margin:0;
}

/*div.sto-__PLACEHOLDER__-vignette.v2{
    height: 300px!important;
    background-image: __BGIMGFORMAT2__ !important;
}*/

div.sto-__PLACEHOLDER__-cta {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 29px;
    background-image: __CTA_IMG__;
    background-position: center;
    background-repeat: no-repeat;
}

div.sto-__PLACEHOLDER__-cta:hover {
    background-image: __CTA_IMG_HOVER__;
}

div.sto-__PLACEHOLDER__-legal {
    width: 100%;
    display: inline-block;
    color: __MENTION_COLOR__;
    margin-bottom: 6px;
    vertical-align: bottom;
    text-align: center;
    font-weight: 100;
    z-index: 2;
    font-family: "Roboto", arial, sans-serif;
    font-size: 11px;
    padding: 0 4px;
    box-sizing: border-box;
    max-height: 50px;
}
div.sto-__PLACEHOLDER__-legal[type="link"] {
    text-decoration: underline;
}
span.valign{
    display:inline-block;
    height:100%;
    width:0;
}

/*@media screen and (max-width: 1295px) {
  div.sto-__PLACEHOLDER__-vignette {
      margin: 10px 3px;
  }
}*/
