/*TEMPLATE*/
.sto-__FORMAT__ {
  margin: 15px 7px;
  width: calc(100% - 14px);
  height: 463px;
  position: relative;
  display: inline-block;
}

.sto-__FORMAT__::after {
  content: 'Sponsorisé';
  font-size: 14px;
  font-style: italic;
  font-family: 'Roboto', arial, sans-serif;
  color: #c9c9c9;
  position: absolute;
  display: block;
  height: 30px;
  line-height: 30px;
  bottom: -30px;
  right: 2px;
}


.sto-__PLACEHOLDER__-vignette {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 7px;
  background-color: __BGCOULEURFORMAT__;
  background-image: __BGIMGFORMAT__;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#productList.mosaic-display .sto-__FORMAT__ {
  margin-bottom: 60px;
}

/*div.sto-__PLACEHOLDER__-vignette.v2{
    height: 300px!important;
    background-image: __BGIMGFORMAT2__ !important;
}*/

div.sto-__PLACEHOLDER__-cta {
  position: absolute;
  bottom: 16%;
  right: 7%;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: __CTA_BG_COULEUR__;
  color: __CTA_TEXT_COULEUR__;
  padding: 1.5% 7%;
  font-size: 5vw;
}

div.sto-__PLACEHOLDER__-cta:hover {
  background-image: __CTA_IMG_HOVER__;
  background-color: __CTA_HOVER_BG_COULEUR__;
  color: __CTA_HOVER_TEXT_COULEUR__;
}

div.sto-__PLACEHOLDER__-legal {
  width: 100%;
  display: inline-block;
  color: __MENTION_COLOR__;
  margin-bottom: 6px;
  vertical-align: bottom;
  text-align: center;
  font-weight: 100;
  z-index: 2;
  font-family: "Roboto", arial, sans-serif;
  font-size: 11px;
  padding: 0 4px;
  box-sizing: border-box;
  max-height: 50px;
  min-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

div.sto-__PLACEHOLDER__-legal span {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.sto-__PLACEHOLDER__-legal[type="link"] span {
  text-decoration: underline;
}

.sto-__PLACEHOLDER__-vignette a {
  display: block;
  width: 100%;
  height: 100%;
}

.sto-__PLACEHOLDER__-vignette-left {
  display: none;
  width: calc(100% / 3 - 10px);
  height: 100%;
  background-color: __LEFT_BG_COULEUR__;
  float: left;
  position: relative;
}
.sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
}

.sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-txt {
  color: __LEFT_TEXT_COULEUR__;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 35px;
}

.sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-cta {
  color: __LEFT_CTA_TEXT_COULEUR__;
  background-color: __LEFT_CTA_BGCOULEUR__;
  padding: 13px 45px;
  font-size: 16px;
  display: inline-block;
}
.sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-cta:hover {
  color: __LEFT_CTA_HOVER_TEXT_COULEUR__;
  background-color: __LEFT_CTA_HOVER_BGCOULEUR__;
}

/*............................................................
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDD...IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIII....AAAAA.....
//.MMMMMM...MMMMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIII...AAAAAA.....
//.MMMMMMM.MMMMMMM.EEEE........DDDD...DDDD.IIIII...AAAAAAA....
//.MMMMMMM.MMMMMMM.EEEE........DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMM.MMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAAAAAA....
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII..AAAA.AAAA...
//.MMMMMMMMMMMMMMM.EEEEEEEEEE..DDDD....DDDDIIIII.AAAAAAAAAA...
//.MMMMMMMMMMMMMMM.EEEE........DDDD....DDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEE........DDDD...DDDDDIIIII.AAAAAAAAAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDDD.IIIIIAAAA....AAAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDDD..IIIIIAAAA.....AAA..
//.MMMM.MMMMM.MMMM.EEEEEEEEEEE.DDDDDDDDD...IIIIIAAAA.....AAA..
*/

@media screen and (min-width:768px) {
  .sto-__FORMAT__ {
    height: 272px !important;
  }
  .sto-__PLACEHOLDER__-vignette {
    width: calc(100% / 3 * 2 + 10px);
    float: right;
  }
  .sto-__PLACEHOLDER__-vignette-left {
    display: block;
  }
  .sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-content {
    width: 80%;
  }

  .sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-txt {
    color: __LEFT_TEXT_COULEUR__;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-cta {
    padding: 7px 25px;
    font-size: 14px;
  }
  div.sto-__PLACEHOLDER__-cta {
    font-size: 3.5vw;
  }
}
@media screen and (min-width:992px) {
  .sto-__FORMAT__ {
    height: 345px !important;
  }
  .sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-content {
    width: 70%;
  }

  .sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-txt {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .sto-__PLACEHOLDER__-vignette-left .sto-__PLACEHOLDER__-left-cta {
    padding: 13px 45px;
    font-size: 16px;
  }
}
@media screen and (min-width:1200px) {
  .sto-__FORMAT__ {
    height: 412px !important;
  }
  div.sto-__PLACEHOLDER__-cta {
    font-size: 40px;
  }
}
