<div class='sto-__FORMAT__ sto-format vignette-box col-x-4 c-product-thumbnail'>
  <a>
  <div class="sto-__PLACEHOLDER__-vignette"></div>
  </a>
  <div class="sto-__PLACEHOLDER__-vignette-left">
    <div class="sto-__PLACEHOLDER__-left-content"></div>
  </div>
</div>
