/*TEMPLATE*/
div.sto-__PLACEHOLDER__-vignette {
    display: inline-block;
    height: 325px;
    cursor: pointer;
    width: 183px;
    position: relative;
    text-align: center;
    margin: 0px 0px 10px 9px;
    overflow: hidden;
    background-color: __BGCOULEURFORMAT__;
    background-image: __BGIMGFORMAT__;
    background-repeat: no-repeat;
    background-position: top center;
    border: solid 1px #d0d0d0;
    float: left;
}

div.sto-__PLACEHOLDER__-legal {
    width: 100%;
    display: inline-block;
    color: __MENTION_COLOR__;
    text-align: center;
    font-weight: 100;
    z-index: 2;
    font-family: "Roboto", arial, sans-serif;
    font-size: 11px;
    padding: 0 4px;
    box-sizing: border-box;
    max-height: 50px;
    position: absolute;
    height: 20px;
    line-height: 20px;
    bottom: 0;
    left: 0;
}

div.sto-__PLACEHOLDER__-legal[type="link"] {
    text-decoration: underline;
}
